In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('city_day.csv',sep=',');
print(df.head())

        City        Date  PM2.5  PM10     NO    NO2    NOx  NH3     CO    SO2  \
0  Ahmedabad  2015-01-01    NaN   NaN   0.92  18.22  17.15  NaN   0.92  27.64
1  Ahmedabad  2015-01-02    NaN   NaN   0.97  15.69  16.46  NaN   0.97  24.55
2  Ahmedabad  2015-01-03    NaN   NaN  17.40  19.30  29.70  NaN  17.40  29.07
3  Ahmedabad  2015-01-04    NaN   NaN   1.70  18.48  17.97  NaN   1.70  18.59
4  Ahmedabad  2015-01-05    NaN   NaN  22.10  21.42  37.76  NaN  22.10  39.33

       O3  Benzene  Toluene  Xylene  AQI AQI_Bucket
0  133.36     0.00     0.02    0.00  NaN        NaN
1   34.06     3.68     5.50    3.77  NaN        NaN
2   30.70     6.80    16.40    2.25  NaN        NaN
3   36.08     4.43    10.14    1.00  NaN        NaN
4   39.31     7.01    18.89    2.78  NaN        NaN

In [3]:
newdf=df.drop(['PM10'],axis=1)
print("\nAfter Dropping PM10 column")
print(newdf.head())

After Dropping PM10 column
        City        Date  PM2.5     NO    NO2    NOx  NH3     CO    SO2  \
0  Ahmedabad  2015-01-01    NaN   0.92  18.22  17.15  NaN   0.92  27.64
1  Ahmedabad  2015-01-02    NaN   0.97  15.69  16.46  NaN   0.97  24.55
2  Ahmedabad  2015-01-03    NaN  17.40  19.30  29.70  NaN  17.40  29.07
3  Ahmedabad  2015-01-04    NaN   1.70  18.48  17.97  NaN   1.70  18.59
4  Ahmedabad  2015-01-05    NaN  22.10  21.42  37.76  NaN  22.10  39.33

       O3  Benzene  Toluene  Xylene  AQI AQI_Bucket
0  133.36     0.00     0.02    0.00  NaN        NaN
1   34.06     3.68     5.50    3.77  NaN        NaN
2   30.70     6.80    16.40    2.25  NaN        NaN
3   36.08     4.43    10.14    1.00  NaN        NaN
4   39.31     7.01    18.89    2.78  NaN        NaN

In [4]:
print("\ncount Data types of columns:\n")
print(newdf.dtypes.value_counts())

count Data types of columns:

float64    12
object      3
dtype: int64

In [5]:
extr = newdf['Date']
print(extr.head())
newdf['Date'] = pd.to_datetime(extr)
print("\n Data types of date:   ",newdf['Date'].dtype)

0    2015-01-01
1    2015-01-02
2    2015-01-03
3    2015-01-04
4    2015-01-05
Name: Date, dtype: object

 Data types of date:    datetime64[ns]

In [6]:
print("\n Is missing values: ",df.isnull().values.any())

 Is missing values:  True

In [7]:
drop_newdf=newdf.dropna()
print("\n Is missing values after dropping: ",drop_newdf.isnull().values.any())

 Is missing values after dropping:  False

In [8]:
replace_newdf=newdf
replace_newdf['PM2.5']=newdf['PM2.5'].fillna(0)
print(replace_newdf['PM2.5'])

0         0.00
1         0.00
2         0.00
3         0.00
4         0.00
         ...
29526    15.02
29527    24.38
29528    22.91
29529    16.64
29530    15.00
Name: PM2.5, Length: 29531, dtype: float64

In [9]:
replace_newdf=newdf.fillna(0)
print(replace_newdf)

                City       Date  PM2.5     NO    NO2    NOx    NH3     CO  \
0          Ahmedabad 2015-01-01   0.00   0.92  18.22  17.15   0.00   0.92
1          Ahmedabad 2015-01-02   0.00   0.97  15.69  16.46   0.00   0.97
2          Ahmedabad 2015-01-03   0.00  17.40  19.30  29.70   0.00  17.40
3          Ahmedabad 2015-01-04   0.00   1.70  18.48  17.97   0.00   1.70
4          Ahmedabad 2015-01-05   0.00  22.10  21.42  37.76   0.00  22.10
...              ...        ...    ...    ...    ...    ...    ...    ...
29526  Visakhapatnam 2020-06-27  15.02   7.68  25.06  19.54  12.47   0.47
29527  Visakhapatnam 2020-06-28  24.38   3.42  26.06  16.53  11.99   0.52
29528  Visakhapatnam 2020-06-29  22.91   3.45  29.53  18.33  10.71   0.48
29529  Visakhapatnam 2020-06-30  16.64   4.05  29.26  18.80  10.03   0.52
29530  Visakhapatnam 2020-07-01  15.00   0.40  26.85  14.05   5.20   0.59

         SO2      O3  Benzene  Toluene  Xylene   AQI    AQI_Bucket
0      27.64  133.36     0.00     0.02    0.00   0.0             0
1      24.55   34.06     3.68     5.50    3.77   0.0             0
2      29.07   30.70     6.80    16.40    2.25   0.0             0
3      18.59   36.08     4.43    10.14    1.00   0.0             0
4      39.33   39.31     7.01    18.89    2.78   0.0             0
...      ...     ...      ...      ...     ...   ...           ...
29526   8.55   23.30     2.24    12.07    0.73  41.0          Good
29527  12.72   30.14     0.74     2.21    0.38  70.0  Satisfactory
29528   8.42   30.96     0.01     0.01    0.00  68.0  Satisfactory
29529   9.84   28.30     0.00     0.00    0.00  54.0  Satisfactory
29530   2.10   17.05     0.00     0.00    0.00  50.0          Good

[29531 rows x 15 columns]

In [10]:
print(newdf.duplicated())

0        False
1        False
2        False
3        False
4        False
         ...
29526    False
29527    False
29528    False
29529    False
29530    False
Length: 29531, dtype: bool

In [11]:

subset1=newdf[1:6]
print(subset1)

        City       Date  PM2.5     NO    NO2    NOx  NH3     CO    SO2     O3  \
1  Ahmedabad 2015-01-02    0.0   0.97  15.69  16.46  NaN   0.97  24.55  34.06
2  Ahmedabad 2015-01-03    0.0  17.40  19.30  29.70  NaN  17.40  29.07  30.70
3  Ahmedabad 2015-01-04    0.0   1.70  18.48  17.97  NaN   1.70  18.59  36.08
4  Ahmedabad 2015-01-05    0.0  22.10  21.42  37.76  NaN  22.10  39.33  39.31
5  Ahmedabad 2015-01-06    0.0  45.41  38.48  81.50  NaN  45.41  45.76  46.51

   Benzene  Toluene  Xylene  AQI AQI_Bucket
1     3.68     5.50    3.77  NaN        NaN
2     6.80    16.40    2.25  NaN        NaN
3     4.43    10.14    1.00  NaN        NaN
4     7.01    18.89    2.78  NaN        NaN
5     5.42    10.83    1.93  NaN        NaN

In [12]:
subset2=newdf[6:11]
print(subset2)
subset3=pd.concat([subset1, subset2], axis=0, ignore_index=True)
print(subset3)

         City       Date  PM2.5      NO    NO2     NOx  NH3      CO    SO2  \
6   Ahmedabad 2015-01-07    0.0  112.16  40.62  130.77  NaN  112.16  32.28
7   Ahmedabad 2015-01-08    0.0   80.87  36.74   96.75  NaN   80.87  38.54
8   Ahmedabad 2015-01-09    0.0   29.16  31.00   48.00  NaN   29.16  58.68
9   Ahmedabad 2015-01-10    0.0     NaN   7.04    0.00  NaN     NaN   8.29
10  Ahmedabad 2015-01-11    0.0  132.07  55.80   24.53  NaN  132.07  25.03

       O3  Benzene  Toluene  Xylene  AQI AQI_Bucket
6   33.47      0.0      0.0     0.0  NaN        NaN
7   31.89      0.0      0.0     0.0  NaN        NaN
8   25.75      0.0      0.0     0.0  NaN        NaN
9    4.55      0.0      0.0     0.0  NaN        NaN
10   6.79      0.0      0.0     0.0  NaN        NaN
        City       Date  PM2.5      NO    NO2     NOx  NH3      CO    SO2  \
0  Ahmedabad 2015-01-02    0.0    0.97  15.69   16.46  NaN    0.97  24.55
1  Ahmedabad 2015-01-03    0.0   17.40  19.30   29.70  NaN   17.40  29.07
2  Ahmedabad 2015-01-04    0.0    1.70  18.48   17.97  NaN    1.70  18.59
3  Ahmedabad 2015-01-05    0.0   22.10  21.42   37.76  NaN   22.10  39.33
4  Ahmedabad 2015-01-06    0.0   45.41  38.48   81.50  NaN   45.41  45.76
5  Ahmedabad 2015-01-07    0.0  112.16  40.62  130.77  NaN  112.16  32.28
6  Ahmedabad 2015-01-08    0.0   80.87  36.74   96.75  NaN   80.87  38.54
7  Ahmedabad 2015-01-09    0.0   29.16  31.00   48.00  NaN   29.16  58.68
8  Ahmedabad 2015-01-10    0.0     NaN   7.04    0.00  NaN     NaN   8.29
9  Ahmedabad 2015-01-11    0.0  132.07  55.80   24.53  NaN  132.07  25.03

      O3  Benzene  Toluene  Xylene  AQI AQI_Bucket
0  34.06     3.68     5.50    3.77  NaN        NaN
1  30.70     6.80    16.40    2.25  NaN        NaN
2  36.08     4.43    10.14    1.00  NaN        NaN
3  39.31     7.01    18.89    2.78  NaN        NaN
4  46.51     5.42    10.83    1.93  NaN        NaN
5  33.47     0.00     0.00    0.00  NaN        NaN
6  31.89     0.00     0.00    0.00  NaN        NaN
7  25.75     0.00     0.00    0.00  NaN        NaN
8   4.55     0.00     0.00    0.00  NaN        NaN
9   6.79     0.00     0.00    0.00  NaN        NaN

In [13]:
df1 = pd.DataFrame(
    {
        "fruit": ["apple", "orange", "apple", "avocado", "orange"],
        "customer": ["ben", "alice", "ben", "josh", "steve"],
        "quantity": [1, 2, 3, 1, 2],
    }
)
print("dataset:");
print(df1);
print("Pivote Table:");
print(df1.pivot_table(index="fruit", columns="customer", values="quantity", aggfunc='mean'))

dataset:
     fruit customer  quantity
0    apple      ben         1
1   orange    alice         2
2    apple      ben         3
3  avocado     josh         1
4   orange    steve         2
Pivote Table:
customer  alice  ben  josh  steve
fruit
apple       NaN  2.0   NaN    NaN
avocado     NaN  NaN   1.0    NaN
orange      2.0  NaN   NaN    2.0